# Environment variables
.env
task1/.env

# Python Cache & Bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# History & Favorites data files
task1/history.json
task1/favorites.json

# Node & Log files
node_modules/
*.log
